@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heading: 'Sora', sans-serif;
  --font-body: 'DM Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: theme('colors.background');
  color: theme('colors.secondary.900');
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

a,
button,
input,
select,
textarea {
  transition: all 200ms ease;
}
